@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
.App{
  min-height: 100vh;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);  
    font-family: 'Varela Round', sans-serif;

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.search-bar{
  outline: none;
  width: 50%;
  border:none;
  padding: 10px;
  border-radius: 10px;
}

.search-button{
 
  border: none;
  padding: 10px 20px;
  color: white;
  margin: 15px;
}


.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap ;
}